# Virtual environments
venv/
.env/
.env.* 
*.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Testing
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# macOS system files
.DS_Store